In [1]:
# import libraries needed
import numpy as np
import pandas as pd

## 1 - Series Basics

Pandas `Series` - the Python equivalent of a column of data. Topics we'll cover:
* Pandas Series Basics
* Series indexing
* Sorting & Filtering
* Operations & Aggregations
* Handling Missing Data
* Applying Custom Functions 

`Series` are Pandas data structures built on top of NumPy arrays
* Series also contain an `index` and an `optional name`, in addition to the array of data
* They can be created from other data types, but are usually imported from external sources
* Two or more Series grouped together form a Pandas DataFrame

In [2]:
# One of the key differentiating factors between a NumPy array and a Pandas series is that we can give a series
# a custom index as well as an optional name
# which would be analogous to a column header or column title that we see in other tools.

# The index is an array of integers starting at 0 by default, but i can be modified

sales = [0, 5, 155, 0, 518, 0, 1827, 616, 317, 325]

sales_series = pd.Series(sales, name="Sales")

print(sales_series)

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

### Series Properties

Pandas Series have these key properties:
* `values` - the data array in the Series
* `index` - the index array in the Series
* `name` - the optional name for the Series (_useful for accessing columns in a DataFrame_)
* `dtype` - the data type of the elements in the values array

In [3]:
sales_series.values

array([   0,    5,  155,    0,  518,    0, 1827,  616,  317,  325])

In [4]:
sales_series.index

RangeIndex(start=0, stop=10, step=1)

In [5]:
sales_series.name

'Sales'

In [6]:
sales_series.dtype

dtype('int64')

#### Practice

In [8]:
pd.Series(np.arange(5), name='Test Array')

0    0
1    1
2    2
3    3
4    4
Name: Test Array, dtype: int64

In [9]:
array = np.arange(5)

series = pd.Series(array)

In [10]:
# Now check out series properties

series.values

array([0, 1, 2, 3, 4])

In [11]:
series.values.mean()

2.0

In [12]:
series.mean()

2.0

In [13]:
# change the index

series.index = [10, 20, 30, 40, 50]

series

10    0
20    1
30    2
40    3
50    4
dtype: int64

In [14]:
series.name = 'special series'

series

10    0
20    1
30    2
40    3
50    4
Name: special series, dtype: int64

## 2 - Pandas Data Types & Type Conversion

* `Pandas data types` mostly expand on their base Python and NumPy equivalents
* You can `convert the data type` in a Pandas Series by using the `.astype()` method and specifying the desired data type (_if compatible_)

In [18]:
sales_series = pd.Series([0, 5, 155, 0, 518], name='Sales')

sales_series

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

In [19]:
sales_series.astype("float")

0      0.0
1      5.0
2    155.0
3      0.0
4    518.0
Name: Sales, dtype: float64

In [20]:
sales_series.astype("bool") # 0 is False, everything else is True

0    False
1     True
2     True
3    False
4     True
Name: Sales, dtype: bool

In [ ]:
sales_series.astype("datetime64") 

# ValueError: The 'datetime64' dtype has no unit. Please pass in 'datetime64[ns]' instead.

#### Practice

In [22]:
pd.Series(range(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [23]:
pd.Series(range(5)).astype("bool")

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [24]:
pd.Series(range(5)).astype("object") # strings are objects

0    0
1    1
2    2
3    3
4    4
dtype: object

In [25]:
pd.Series(range(5)).astype("string")

0    0
1    1
2    2
3    3
4    4
dtype: string

In [26]:
pd.Series(range(5)).astype("bool").mean() # 80% of the values are True

0.8

In [27]:
pd.Series(range(5)).astype("bool").sum() # 4 values are True

4

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [96]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("../retail/oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [29]:
# convert oil_array to a series

oil_series = pd.Series(oil_array, name="oil_prices")
              
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [30]:
print(f"Name: {oil_series.name}")
print(f"dtype: {oil_series.dtype}")
print(f"size: {oil_series.size}")
print(f"index: {oil_series.index}")

Name: oil_prices
dtype: float64
size: 100
index: RangeIndex(start=0, stop=100, step=1)

In [31]:
oil_series.values.mean() # mean on the float values

51.128299999999996

In [35]:
# we don't actually need to access the values array
# Pandas has its own aggregate methods

oil_series.mean()

51.128299999999996

In [34]:
oil_series.astype("int").values.mean() # mean on the int values

50.66

In [36]:
# we can call the Pandas method directly on this 

oil_series.astype("int").mean()

# Next, learn how to access data within our series

50.66

## 3 - The Series Index & Custom Indices

* The `index` lets you easily access _"rows"_ in a Pandas Series or DataFrame
* There are cases where it's applicable to use `custom index` for accessing  rows

In [37]:
sales = [0, 5, 155, 0, 518]
sales_series = pd.Series(sales, name="Sales")
sales_series

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

In [38]:
sales_series[2]

155

In [39]:
sales_series[2:4]

2    155
3      0
Name: Sales, dtype: int64

Custom indices can be assigned when `creating the series` or `by assignment`
* note this will become more relevant when working with `datetimes` (covered later in the course)

In [40]:
sales = [0, 5, 155, 0, 518]
items = ["coffee", "bananas", "tea", "coconut", "sugar"]

sales_series = pd.Series(sales, index=items, name="Sales")

sales_series

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [41]:
sales_series.index = ["coffee", "bananas", "tea", "coconut", "sugar"]

sales_series

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

You can still `index` and `slice` to retrieve Series values using the custom indices 
* _Note that slicing custom indices makes the stop point `inclusive`_

In [42]:
sales_series["tea"]

155

In [43]:
sales_series["bananas":"coconut"]

bananas      5
tea        155
coconut      0
Name: Sales, dtype: int64

#### Practice

In [44]:
my_series = pd.Series(range(5))

my_series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [45]:
my_series[1::2]

1    1
3    3
dtype: int64

In [46]:
my_series = pd.Series(range(5), index=["Day0", "Day1", "Day2", "Day3", "Day4"])

my_series

Day0    0
Day1    1
Day2    2
Day3    3
Day4    4
dtype: int64

In [48]:
my_series["Day2":"Day4"]

Day2    2
Day3    3
Day4    4
dtype: int64

In [49]:
my_series[::2]

Day0    0
Day2    2
Day4    4
dtype: int64

In [50]:
my_series[::-1]

Day4    4
Day3    3
Day2    2
Day1    1
Day0    0
dtype: int64

## 4 - The `.iloc` Accessor

The `.iloc[]` method is the preferred way to access values by their `positional index`
* This method works even when Series have a custom, non-integer index
* It is more efficient than slicing and is recommended by Pandas' creators


`df.iloc[row position, column position]`
* `df` - Series or DataFrame to access values from 
* `row position` - The row position(s) for the value(s) you want to access, examples:
    * _`0` (single row)_
    * _`[5,9]` (multiple rows)_
    * _`[0:11]` (range of rows)_

In [51]:
sales_series

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [52]:
# This returns the value in the third position (0-indexed)
# even though the custom index for that value is "tea"

sales_series.iloc[2]

155

In [53]:
# This returns the values from the third to the fourth position (stop is non-inclusive)

sales_series.iloc[2:4]

tea        155
coconut      0
Name: Sales, dtype: int64

#### Practice

In [54]:
my_series = pd.Series(
    [0, 1, 2, 3, 4], index=["Day0", "Day1", "Day2", "Day3", "Day4"]
)

my_series

Day0    0
Day1    1
Day2    2
Day3    3
Day4    4
dtype: int64

In [55]:
# grab the 3rd row

my_series.iloc[2]

2

In [56]:
# grab the last row

my_series.iloc[-1]

4

In [58]:
my_series.iloc[[1, 3, 4]] # non-consecutive rows

Day1    1
Day3    3
Day4    4
dtype: int64

In [60]:
my_series.iloc[1:4] # all the rows between the index 1 and 4

Day1    1
Day2    2
Day3    3
dtype: int64

In [61]:
# equivlent to above

my_series.iloc[1:]

Day1    1
Day2    2
Day3    3
Day4    4
dtype: int64

## 5 - The `.loc` Accessor

The `.loc[]` method is the preferred way to access values by their custom `labels`

`df.loc[row label, column label]`

* `row label` -- The custom row index for the value(s) you want to access, examples:
    * _`"pizza"` (single row)_
    * _`["mike","ike"]` (multiple rows)_
    * _`["jan":"dec"]` (range of rows)_

**The `.loc[]` method works even when the indices are integers, but if they are custom integers not ordered from 0 to n-1, the rows will be returned based on the `labels` themselves and NOT their numeric position**

In [62]:
sales_series

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [63]:
sales_series.loc["tea"]

155

In [64]:
# Note that slices are inclusive when using custom labels 

sales_series.loc["bananas":"coconut"]

bananas      5
tea        155
coconut      0
Name: Sales, dtype: int64

#### Practice

In [65]:
my_series = pd.Series(
    [0, 1, 2, 3, 4], index=["Day0", "Day1", "Day2", "Day3", "Day4"]
)

my_series

Day0    0
Day1    1
Day2    2
Day3    3
Day4    4
dtype: int64

In [66]:
my_series.loc["Day2"]

2

In [67]:
my_series.loc["Day1": "Day3"] # range of rows including the stop

Day1    1
Day2    2
Day3    3
dtype: int64

In [68]:
my_series.index = [0, 2, 3, 100, 5] # update to an integer based index

In [69]:
# slicing from the beginning to index 3

my_series.loc[0:3]

0    0
2    1
3    2
dtype: int64

In [70]:
# grabbing everything in between of 0 and 5 including 100

my_series.loc[0:5]

0      0
2      1
3      2
100    3
5      4
dtype: int64

In [71]:
my_series.reset_index(drop=True) # reset the index to the default

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [72]:
my_series.reset_index(drop=True).loc[0:3] # now we can slice from 0 to 3

0    0
1    1
2    2
3    3
dtype: int64

In [73]:
# filter out the value 2

my_series[my_series != 2]

0      0
2      1
100    3
5      4
dtype: int64

## 6 - Duplicate Index Values & Resetting The Index

### Duplicate Index Values

It is possible to have `duplicate index values` in a Pandas Series or DataFrame
* Accessing these indices by their label using `.loc[]` returns all corresponding rows

In [74]:
sales = [0, 5, 155, 0, 518]
items = ["coffee", "coffee", "tea", "coconut", "sugar"]

sales_series = pd.Series(sales, index=items, name="Sales")

sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

This returns both rows with the same label

Warning! Duplicate index values are **generally not advised**, but there are some edge cases where they are useful

In [76]:
sales_series.loc["coffee"]

coffee    0
coffee    5
Name: Sales, dtype: int64

### Resetting The Index

You can `reset the index` in a Pandas Series or DataFrame back to the default range of integers by using the `.reset_index()` method
* By default, the existing index will become a new column in a DataFrame

In [77]:
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [78]:
sales_series.reset_index()

     index  Sales
0   coffee      0
1   coffee      5
2      tea    155
3  coconut      0
4    sugar    518

_Use `drop=True` when resetting the index if you don't want the previous index values stored_

In [79]:
sales_series.reset_index(drop=True)

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

#### Practice

In [80]:
my_series = pd.Series([0, 1, 2, 3, 4], index=["day 0", "day 0", "day 0", "day 2", "day 2"])

my_series.index

Index(['day 0', 'day 0', 'day 0', 'day 2', 'day 2'], dtype='object')

In [81]:
my_series["day 0"]

day 0    0
day 0    1
day 0    2
dtype: int64

In [82]:
# end up with all of the rows

my_series["day 0":"day 2"]

day 0    0
day 0    1
day 0    2
day 2    3
day 2    4
dtype: int64

In [83]:
# need to pass in a second index to further slice the data (inconvinient)

my_series["day 0"][1]

1

In [84]:
# reset and get a much more workable index

my_series.reset_index()

   index  0
0  day 0  0
1  day 0  1
2  day 0  2
3  day 2  3
4  day 2  4

In [85]:
my_series.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [86]:
my_series.reset_index(drop=True).loc[2]

2

In [87]:
my_series.reset_index(drop=True).iloc[2]

2

In [88]:
my_series.reset_index(drop=True).loc[2:4]

2    2
3    3
4    4
dtype: int64

In [89]:
my_series.reset_index(drop=True).iloc[2:4]

2    2
3    3
dtype: int64

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [97]:
# extract date column from oil DataFrame and grab first 100 rows

dates = pd.Series(oil["date"]).iloc[1000:1100]

In [98]:
oil_series.index = dates

oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [99]:
oil_series.iloc[:10]

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
2016-12-28    54.01
2016-12-29    53.80
2016-12-30    53.75
2017-01-03    52.36
2017-01-04    53.26
Name: oil_prices, dtype: float64

In [100]:
# Mean of first 10 prices 

oil_series.iloc[:10].mean()

52.765

In [101]:
# Mean of last 10 prices

oil_series.iloc[-10:].mean()

47.13

In [102]:
# Slice labels using loc, reset index and drop dates to return series w/ integer index

oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_prices, dtype: float64

## 7 - Filtering Series & Logical Tests

You can `filter a Series` by passing a logical test into the `.loc[]` accessor (_like arrays!_)

In [103]:
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [104]:
# This returns all rows from sales_series with a value greater than 0

sales_series.loc[sales_series > 0]

coffee      5
tea       155
sugar     518
Name: Sales, dtype: int64

In [105]:
mask = (sales_series > 0) & (sales_series.index == "coffee")

sales_series.loc[mask]

coffee    5
Name: Sales, dtype: int64

### Logical Operators & Methods

You can use these `operators` & `methods` to create Boolean filters for logical tests

* `.eq()` -- Equal
* `.ne()` -- Not Equal
* `.le()` -- Less Than or Equal
* `.lt()` -- Less Than
* `.ge()` -- Greater Than or Equal
* `.gt()` -- Greater Than 
* `.isin()` -- Membership Test (in)
* `.~isin()` -- Inverse Membership Test (not in)

_Python Operator_

In [106]:
sales_series == 5

coffee     False
coffee      True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

_Pandas Method_

In [107]:
sales_series.eq(5)

coffee     False
coffee      True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [108]:
sales_series.index.isin(["coffee", "tea"])

array([ True,  True,  True, False, False])

In [109]:
# The tilde (~) operator inverts the boolean values in the mask

~sales_series.index.isin(["coffee", "tea"])

array([False, False, False,  True,  True])

#### Practice

In [114]:
my_series = pd.Series([0, 1, 2, 3, 4], index=["day 0", "day 1", "day 2", "day 3", "day 4"])

my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [115]:
my_series == 2

day 0    False
day 1    False
day 2     True
day 3    False
day 4    False
dtype: bool

In [118]:
my_series.loc[my_series != 2]

day 0    0
day 1    1
day 3    3
day 4    4
dtype: int64

In [119]:
# use the tilde to invert any logical test

my_series.loc[~(my_series != 2)]

day 2    2
dtype: int64

In [120]:
# Membership Test

my_series.loc[my_series.isin([1, 2])]

day 1    1
day 2    2
dtype: int64

In [121]:
my_series.loc[~my_series.isin([1, 2])]

day 0    0
day 3    3
day 4    4
dtype: int64

In [122]:
my_series.loc[my_series > 2]

day 3    3
day 4    4
dtype: int64

In [123]:
my_series.loc[~(my_series > 2)]

day 0    0
day 1    1
day 2    2
dtype: int64

In [124]:
my_series.loc[~my_series.gt(2)] # don't need the parentheses

day 0    0
day 1    1
day 2    2
dtype: int64

In [125]:
my_series.loc[my_series.between(1, 3)]

day 1    1
day 2    2
day 3    3
dtype: int64

In [126]:
mask = (my_series.isin([1, 2])) | (my_series > 2)

my_series.loc[mask]

day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [127]:
mask = (my_series.isin([1, 2])) & (my_series > 2)

my_series.loc[mask]

Series([], dtype: int64)

## 8 - Sorting Series

You can `sort Series` by their values or their index
1. The `.sort_values()` method sorts a Series by its values in ascending order 
2. The `.sort_index()` method sorts a Series by its index in ascending order 

_Specify `ascending=False` to sort in descending order_

In [110]:
sales_series.sort_values()

coffee       0
coconut      0
coffee       5
tea        155
sugar      518
Name: Sales, dtype: int64

In [111]:
sales_series.sort_values(ascending=False)

sugar      518
tea        155
coffee       5
coffee       0
coconut      0
Name: Sales, dtype: int64

In [112]:
sales_series.sort_index()

coconut      0
coffee       0
coffee       5
sugar      518
tea        155
Name: Sales, dtype: int64

In [113]:
sales_series.sort_index(ascending=False)

tea        155
sugar      518
coffee       0
coffee       5
coconut      0
Name: Sales, dtype: int64

#### Practice

In [128]:
my_series = pd.Series([0, 1, 2, 3, 4], index=["day 0", "day 1", "day 2", "day 3", "day 4"])

my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [129]:
my_series.sort_values(ascending=False, inplace=True) # inplace modifies the original series

In [130]:
my_series

day 4    4
day 3    3
day 2    2
day 1    1
day 0    0
dtype: int64

In [131]:
my_series.sort_index() # sort by index

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [132]:
my_series2 = my_series.sort_index(ascending=False)

In [133]:
my_series2

day 4    4
day 3    3
day 2    2
day 1    1
day 0    0
dtype: int64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [135]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [136]:
# Get 10 lowest prices by grabbing first 10 rows of sorted price series
# Then, sort by index in descending order

oil_series.sort_values().iloc[:10].sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_prices, dtype: float64

In [137]:
# Create mask to filter to only dates in list of dates and oil price <= 50

mask = oil_series.index.isin(dates) & (oil_series <= 50)

oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_prices, dtype: float64

In [138]:
# Use the Pandas less than or equal to operator (le) get the same result

mask = oil_series.index.isin(dates) & (oil_series.le(50))

oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_prices, dtype: float64

## 9 - Numeric (Arithmetic) Series Operations

You can use these `operators` & `methods` to perform numeric operations on Series

  <img src="../images/1-numeric_series_operations.png">

#### Practice

In [139]:
# plug in a missing value (NaN) for our second row 

my_series = pd.Series(
    [1, np.NaN, 2, 3, 4], index=["day 0", "day 1", "day 2", "day 3", "day 4"]
)

my_series

day 0    1.0
day 1    NaN
day 2    2.0
day 3    3.0
day 4    4.0
dtype: float64

In [140]:
my_series + 1

day 0    2.0
day 1    NaN
day 2    3.0
day 3    4.0
day 4    5.0
dtype: float64

In [143]:
my_series2 = my_series.add(1, fill_value=0).astype(int)

In [144]:
my_series2

day 0    2
day 1    1
day 2    3
day 3    4
day 4    5
dtype: int64

In [145]:
# division 

my_series2 / 2

day 0    1.0
day 1    0.5
day 2    1.5
day 3    2.0
day 4    2.5
dtype: float64

In [146]:
# floor division

my_series2 // 2

day 0    1
day 1    0
day 2    1
day 3    2
day 4    2
dtype: int64

In [147]:
# add two series together

my_series + my_series2

day 0    3.0
day 1    NaN
day 2    5.0
day 3    7.0
day 4    9.0
dtype: float64

In [148]:
# handle missing value 

my_series.add(my_series2, fill_value=0)

day 0    3.0
day 1    1.0
day 2    5.0
day 3    7.0
day 4    9.0
dtype: float64

In [149]:
# average two series 

(my_series + my_series2) / 2

day 0    1.5
day 1    NaN
day 2    2.5
day 3    3.5
day 4    4.5
dtype: float64

## 10 - Text Series Operations /String Methods

The Pandas str accessor lets you access many `string methods` 
* These methods all return a Series(_split returns multiple series_)

 <img src="../images/2-text_series_operations.png">

In [150]:
string_series = pd.Series(["day 0", "day 1", "day 2", "day 3", "day 4"])

string_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [151]:
string_series.str.contains("1")

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [153]:
# chain these operators (need to call the str accessor again)

string_series.str.upper().str.contains("DAY 1")

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [157]:
# strip away any characters that are not digits
# only left the integer portion of the string
# convert this to an integer

string_series.str.strip('day ').astype(int)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [158]:
# slicing 

string_series.str[-1].astype(int)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [159]:
# split the string on the space character
# this will create a list or as a series 

string_series.str.split(" ")

0    [day, 0]
1    [day, 1]
2    [day, 2]
3    [day, 3]
4    [day, 4]
dtype: object

In [160]:
# use the expand=True argument to expand these into their own columns (to return a DataFrame)

string_series.str.split(' ', expand=True)

     0  1
0  day  0
1  day  1
2  day  2
3  day  3
4  day  4


# Assignment 4: Series Operations
### Sensitivity Analysis

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [161]:
# Multiple oil series values by 1.1 (10% increase), then add 2 to each row

# with Pandas methods
oil_series.mul(1.1).add(2)

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_prices, Length: 100, dtype: float64

In [162]:
# with Python operators
oil_series * 1.1 + 2

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_prices, Length: 100, dtype: float64

In [163]:
# Get max price, store in variable

max_price = oil_series.max()

max_price

54.48

In [164]:
# Subtract max price from all rows in oil_series (returns a Series)

(oil_series - max_price) / max_price

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil_prices, Length: 100, dtype: float64

In [172]:
# Create a series from the index of oil_series

string_dates = pd.Series(oil_series.index)

string_dates

0     2016-12-20
1     2016-12-21
2     2016-12-22
3     2016-12-23
4     2016-12-27
         ...
95    2017-05-09
96    2017-05-10
97    2017-05-11
98    2017-05-12
99    2017-05-15
Name: date, Length: 100, dtype: object

In [167]:
# Slice out month portion of text string and convert to int

string_dates.str[5:7].astype("int") # equivalent to string_dates.str.split("-", expand=True)[1].astype("int")

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

In [168]:
# single line

pd.Series(oil_series.index).str[5:7].astype("int")

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

## 11 - Numeric Series Aggregation

You can use these methods to `aggregate numerical Series` 

 <img src="../images/3-numeric_series_aggregation.png">

#### Practice

In [174]:
transactions = pd.read_csv("../retail/transactions.csv")

# create a series out of one column of the DataFrame
transactions_series = pd.Series(transactions["transactions"])

# look at the top 5 rows of the series
transactions_series.iloc[:5]

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [175]:
# perform some aggregation on the numeric series

transactions_series.count() #.sum() .mean() .median() .min() .max()

83488

In [177]:
# 50% percentile

transactions_series.quantile([.5])

0.5    1393.0
Name: transactions, dtype: float64

In [178]:
# interpolation - grab the nearest value to the percentile specified

transactions_series.quantile([.5], interpolation='nearest')

0.5    1393
Name: transactions, dtype: int64

In [179]:
transactions_series.iloc[:5] # quantile will be a little skewey because of the small sample size

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [182]:
transactions_series.iloc[:5].quantile([.4]) # we don't have a 40th percentile value

0.4    2035.4
Name: transactions, dtype: float64

In [183]:
transactions_series.iloc[:5].quantile([.4], interpolation='nearest') # grab the nearest value

0.4    2111
Name: transactions, dtype: int64

## 12 - Categorical Series Aggregation

You can use these methods to `aggregate categorical Series` 

 <img src="../images/4-categorical_series_aggregations.png">

#### Practice

In [186]:
string_series = pd.Series(["day 0", "day 0", "day 2", "day 2", "day 4"])

string_series

0    day 0
1    day 0
2    day 2
3    day 2
4    day 4
dtype: object

In [187]:
string_series.nunique() # number of unique values

3

In [188]:
string_series.unique() # list of unique values

array(['day 0', 'day 2', 'day 4'], dtype=object)

In [189]:
# all the unique values in my series and how ofthen they occur 

string_series.value_counts()

day 0    2
day 2    2
day 4    1
Name: count, dtype: int64

In [190]:
# normalize=True gives us that percentage sense, which is something that we can report across all data sets
# e.g. 40% of our customers tend to buy on day 0

string_series.value_counts(normalize=True)

day 0    0.4
day 2    0.4
day 4    0.2
Name: proportion, dtype: float64

# Assignment 5: Series Aggregations

### Additional Metrics
* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [196]:
oil_series.head()

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
Name: oil_prices, dtype: float64

In [201]:
oil_series.index.str[5:7].unique() # get unique months

Index(['12', '01', '02', '03', '04', '05'], dtype='object', name='date')

In [202]:
# Filter series to March (month 3), calculate sum of prices, and round

oil_series[oil_series.index.str[6:7] == "3"].sum().round(2)

1134.54

In [203]:
# Filter series to march, calculate mean

oil_series[oil_series.index.str[6:7] == "3"].mean()

49.32782608695651

In [204]:
# Filter series to Jan and Feb, count entries

oil_series[oil_series.index.str[5:7].isin(["01", "02"])].count()

39

In [205]:
# Calculate 10th and 90th percentiles of oil series using quantile

oil_series.quantile([0.1, 0.9])

0.1    47.299
0.9    53.811
Name: oil_prices, dtype: float64

In [206]:
# Return normalized value counts to get percentage of time each integer dollar value occurred

# We see 48% of our pricess hovered around the $52 to $53 dollar mark
# It appears that there was a very fast rise from the 47 to 48 dollar mark to the 52 to 53 dollar mark

oil_series.astype("int").value_counts(normalize=True)

oil_prices
53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: proportion, dtype: float64

## 13 - Missing Data

`Missing data` in Pandas is often represented by NumPy "NaN" values _("NaN" stands for not a number)_
* This is more efficient than Python's "None" data type
* Pandas treats NaN values as float, which allows them to be used in vectorized operations 

### Identifying Missing Data

The `.isna()` and `.value_counts()` methods let you `identify missing data` in a Series 
* The `.isna()` method returns True if a value is missing, and False otherwise 
* The `.value_counts()` method returns unique values and their frequency 

 <img src="../images/5-identifying_missing_data.png">

### Handling Missing Data
The `.dropna()` and `.fillna()` methods let you `handle missing data` in a Series 
* The `.dropna()` method removes NaN values from your Series or DataFrame
* The `.fillna(values)` method replaces NaN values with a specified value

 <img src="../images/6-handling_missing_data.png">

* It's important to `be thoughtful and deliberate` in how you handle missing data

 <img src="../images/7_handling_missing_data.png">

#### Practice

In [208]:
my_series = pd.Series([np.NaN] * 5)

In [209]:
my_series

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [210]:
my_series.isna().sum() # count the number of missing values

5

In [211]:
my_series.isna().mean() # percentage of missing values (100% in this case)

1.0

In [212]:
my_series = pd.Series([pd.NA] * 5)

In [213]:
my_series

0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
dtype: object

In [215]:
my_series = my_series.astype("Int64")

my_series

0    <NA>
1    <NA>
2    <NA>
3    <NA>
4    <NA>
dtype: Int64

In [216]:
my_series.isna().sum()

5

In [217]:
my_series.value_counts()

Series([], Name: count, dtype: Int64)

In [218]:
my_series.value_counts(dropna=False)

<NA>    5
Name: count, dtype: Int64

In [219]:
my_series = pd.Series(range(5))

In [220]:
# replace two of the values with missing values

my_series.loc[1:2] = pd.NA

In [221]:
my_series

0    0.0
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

In [222]:
my_series.isna()

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [223]:
my_series.value_counts(dropna=False)

NaN    2
0.0    1
3.0    1
4.0    1
Name: count, dtype: int64

In [224]:
my_series.fillna(0)

0    0.0
1    0.0
2    0.0
3    3.0
4    4.0
dtype: float64

In [225]:
my_series.fillna(my_series.mean())

0    0.000000
1    2.333333
2    2.333333
3    3.000000
4    4.000000
dtype: float64

In [226]:
my_series.dropna()

0    0.0
3    3.0
4    4.0
dtype: float64

In [227]:
# reset the index to have the continuous value of index

my_series.dropna().reset_index()

   index    0
0      0  0.0
1      3  3.0
2      4  4.0

In [228]:
# reset the index to have the continuous value of index

my_series.dropna().reset_index(drop=True) # drop=True to avoid returnning a dataframe with the old index as a column

0    0.0
1    3.0
2    4.0
dtype: float64

# Assignment 6: Missing Data

### Erroneous Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once youve done that, fill the prices in with the median of the oil price series.

In [232]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)

oil_series

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [233]:
# Sum/count missing values

oil_series.isna().sum()

2

In [234]:
# Fill in missing values with median

oil_series.fillna(oil_series.median())

date
2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: oil_prices, Length: 100, dtype: float64

## 14 - Applying Custom Functions to Series

The `.apply()` method lets you apply custom functions to Pandas Series 
* This function will not be vectorized, so it's not as efficient as native cuntions 

Pandas' `.where()` method lets you manipulate data based on a logical condition 

 <img src="../images/8-the_where_method.png">

 You can `chain .where() methods` to combine logical expressions

 NumPy's where function is often more convenient & useful than Pandas' method

#### Practice

In [235]:
string_series = pd.Series(["day 0", "day 0", "day 2", "day 2", "day 4"])

string_series

0    day 0
1    day 0
2    day 2
3    day 2
4    day 4
dtype: object

In [236]:
# extract the integer portion of the string

string_series.apply(lambda x: x[-1])

0    0
1    0
2    2
3    2
4    4
dtype: object

In [237]:
# built-in method to extract the integer portion of the string

string_series.str[-1]

0    0
1    0
2    2
3    2
4    4
dtype: object

In [238]:
def search(string, looking_for):
    if looking_for in string:
        return "Found It!"
    return "Nope"

In [239]:
string_series.apply(search, args='2')

0         Nope
1         Nope
2    Found It!
3    Found It!
4         Nope
dtype: object

In [243]:
# Use built-in Pandas methods and functions (more efficient than the apply custom function)

string_series.where(
    string_series.str.contains("2"), "Nope!").where(
    ~string_series.str.contains("2"), "Found it!"
)

0        Nope!
1        Nope!
2    Found it!
3    Found it!
4        Nope!
dtype: object

In [244]:
# Use NumPy (this returns a NumPy array, not a Pandas series)

np.where(string_series.str.contains("2"), "Found it!", "Nope!")

array(['Nope!', 'Nope!', 'Found it!', 'Found it!', 'Nope!'], dtype='<U9')

In [245]:
# to get a Series back, wrap the np.where in a pd.Series

pd.Series(np.where(string_series.str.contains("2"), "Found it!", "Nope!"))

0        Nope!
1        Nope!
2    Found it!
3    Found it!
4        Nope!
dtype: object

# Exercise 7: Apply and Where

### Additional Metrics

Write a function that outputs buy if price is less than the 90th percentile and wait if its not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is 2016-12-23 or 2017-05-10, and 1.1 for all other dates.

In [246]:
# Define a function that returns 'Buy' if price below limit, 'Wait' if not.

def buy_bool(price, limit):
    if price < limit:
        return "Buy"
    return "Wait"

In [247]:
# Apply function to OIl Series, args = to specify arguments - make sure to pass a list or tuple to args

oil_series.apply(buy_bool, args=(oil_series.quantile(0.9),))

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_prices, Length: 100, dtype: object

In [251]:
# check the quantile

oil_series.quantile(0.9)

53.813

In [248]:
# Lambda function version of Wait/Buy

oil_series.apply(lambda x: "Buy" if x < oil_series.quantile(0.9) else "Wait")

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_prices, Length: 100, dtype: object

In [249]:
# Chain Pandas where to specify complementary logic.
# First where - if test returns FALSE (not one of these dates), multiply by 1.1
# Second where - if inverted test returns FALSE (is one of these dates) multiply by .9

(oil_series
 .where(oil_series.index.isin(["2016-12-23", "2017-05-10"]), oil_series * 1.1)
 .where(~oil_series.index.isin(["2016-12-23", "2017-05-10"]), oil_series * .9)
)

date
2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    46.809
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Name: oil_prices, Length: 100, dtype: float64

In [250]:
# Use NumPy where to modify price based on dates.
# if price in list, multiply by .9
# if price not in list, multiply by 1.1
# Convert NumPy array returned by np.where to Series
import numpy as np

pd.Series(
    np.where(
        oil_series.index.isin(["2016-12-23", "2017-05-10"]),
        oil_series * 0.9,
        oil_series * 1.1,
    )
)

0     57.442
1        NaN
2     57.178
3     46.809
4     58.102
       ...
95    50.424
96    42.552
97    52.591
98       NaN
99    53.746
Length: 100, dtype: float64

In [252]:
df = pd.DataFrame(oil_series)

df

            oil_prices
date
2016-12-20       52.22
2016-12-21         NaN
2016-12-22       51.98
2016-12-23       52.01
2016-12-27       52.82
...                ...
2017-05-09       45.84
2017-05-10       47.28
2017-05-11       47.81
2017-05-12         NaN
2017-05-15       48.86

[100 rows x 1 columns]

In [253]:
df["new_price"]=np.where(
        oil_series.index.isin(["2016-12-23", "2017-05-10"]),
        oil_series * 0.9,
        oil_series * 1.1,
    )

In [254]:
df.head()

            oil_prices  new_price
date
2016-12-20       52.22     57.442
2016-12-21         NaN        NaN
2016-12-22       51.98     57.178
2016-12-23       52.01     46.809
2016-12-27       52.82     58.102